@import url("style/header.css");
@import url("style/banner.css");

:root{
    --cor-de-fundo:#305df1;
    --branco:#1ba7e9;
    --laranja: #3661d8;
    --preto:#070101;
    --azul-degrade: #2b05ff;
    --fonte-principal:"Poppins";
    --fonte-secundaria:"Josefin Sans";
}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
